---
// Blog Card
// ------------
// Description: The blog card component
// Properties:
// - Title: the title of the card
// - Subtitle: the subtitle of the card
// - Image: the main image of the card
// - Icon: the icon of the card
// - Link: The link to the blog post
// - classes: extra classes
// - Tags: the tags of the blog post
// Reference: https://wind-ui.com/components/cards/

// Components
// - UI
import { Image } from 'astro:assets'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'
import Badge from '../Badge.astro'

// Props
type Props = {
	title?: string
	subtitle?: string
	image?: any
	link?: string
	classes?: string
	tags?: string[]
}
const {
	title = '',
	subtitle,
	image,
	link,
	classes = '!shadow-none border border-neutral-100 dark:border-neutral-800',
	tags
} = Astro.props
---

<Card classes={`${classes} blog-card h-full`}>
	{link && <a href={link} class="card-link" aria-label={title}></a>}
	{image && <Image src={image} alt={title} width={600} height={400} class="blog-card-image" />}
	<CardBody classes="flex-grow">
		<h2 class="post-title">{title}</h2>
		<h4 class="post-subtitle">{subtitle}</h4>
		<slot />
	</CardBody>

	{
		tags && (
			<div class="post-tags mt-auto">
				{tags.map((tag: string) => (
					<Badge name={tag} link={`/blog/tags/` + tag} classes="capitalize" />
				))}
			</div>
		)
	}
</Card>

<style>
	.post-title {
		@apply mb-0 text-xl;
	}
	.post-subtitle {
		@apply mb-6 text-sm font-normal text-neutral-400 dark:text-neutral-400;
	}
	.post-tags {
		@apply relative z-10 flex gap-2 border-t border-neutral-100 px-6 py-4 dark:border-neutral-800;
	}
</style>

<style is:global>
	.blog-card {
		position: relative;
	}
	.blog-card .card-link {
		position: absolute;
		inset: 0;
		z-index: 1;
	}
	.blog-card:hover {
		@apply border-neutral-700;
	}
	.blog-card-image {
		@apply w-full h-auto object-cover;
	}
</style>
